{% for msg in msgs %}
	{{ msg }} <br />
{% endfor %}
<br />
{% for time in times %}
	{{ time }} <br />
{% endfor %}
<br />

<div style="width: 600px;">
	Повторы ({{ retrys|length }}): <br />
	{% for key,retry in retrys %}
		{{ key }} - {{ retry }} <br />
	{% endfor %}
</div>
